{% extends 'blog/base.html' %}

{% block title %}
	<title>My Blog</title>
{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class = "post">
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<p>{{ post.description | linebreaksbr }}</p>
			<div class = "date">
				{% if post.edited == True %}
					<p>Updated: {{ post.published_date }}</p>
				{% else %}
					<p>Published: {{ post.published_date }}</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}