<html>
	<head>
		<title>My CV</title>
	</head>
	<body>
		<h1>Thomas Beckett</h1>
		<h2>Profile</h2>
		<div id = "id_skills">
			<h2>Key Skills</h2>
			<ul>
				{% for skill in skills %}
					<li>{{ skill.text }}</li>
				{% endfor %}
			</ul>
			<form id = "id_skills_form" method = "POST">
				{{ skills_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_education">
			<h2>Education</h2>
			{% for education_item in education_items %}
				<div id = "id_education_{{ forloop.counter }}">
					<h3>
						{% if education_item.start_year == education_item.end_year %}{{ education_item.start_year }}{% else %}{{ education_item.start_year }}-{{ education_item.end_year }}{% endif %}: {{ education_item.institution }}{% if education_item.course_title %}, {{ education_item.course_title }}{% endif %}
					</h3>
					<p>{{ education_item.text }}</p>
				</div>
			{% endfor %}
			<form id = "id_education_form" method = "POST">
				{{ education_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_experience">
			<h2>Work Experience</h2>
			{% for experience_item in experience_items %}
				<div id = "id_experience_{{ forloop.counter }}">
					<h3>
						{% if experience_item.start_year == experience_item.end_year %}{{ experience_item.start_year }}{% else %}{{ experience_item.start_year }}-{{ experience_item.end_year }}{% endif %}: {{ experience_item.company }}, {{ experience_item.role }}
					</h3>
					<p>{{ experience_item.text }}</p>
				</div>
			{% endfor %}
			<form id = "id_experience_form" method = "POST">
				{{ experience_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_volunteering">
			<h2>Voluntary Experience</h2>
			{% for volunteering_item in volunteering_items %}
				<div id = "id_volunteering_{{ forloop.counter }}">
					<h3>
						{% if volunteering_item.start_year == volunteering_item.end_year %}{{volunteering_item.start_year }}{% else %}{{ volunteering_item.start_year }}-{{ volunteering_item.end_year }}{% endif %}: {{ volunteering_item.company }}, {{ volunteering_item.role }}
					</h3>
					<p>{{ volunteering_item.text }}</p>
				</div>
			{% endfor %}
			<form id = "id_volunteering_form" method = "POST">
				{{ volunteering_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_projects">
			<h2>Additional Projects and Achievements</h2>
			<ul>
				{% for project_item in project_items %}
					<li>{{ project_item.text }}</li>
				{% endfor %}
			</ul>
			<form id = "id_projects_form" method = "POST">
				{{ project_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_hobbies">
			<h2>Additional Activities, Skills and Hobbies</h2>
			<ul>
				{% for hobby_item in hobby_items %}
					<li>{{ hobby_item.text }}</li>
				{% endfor %}
			</ul>
			<form id = "id_hobbies_form" method = "POST">
				{{ hobby_form.as_p }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_references">
			<h2>References</h2>
			{% if reference_items.count == 0 %}
				<p>References available on request.</p>
			{% else %}
				{% for reference_item in reference_items %}
					<p>
						<b>{{ reference_item.name }}, {{ reference_item.relevance }}.</b>
						{% if reference_item.phone %}
							Phone: {{ reference_item.phone }}.
						{% endif %}
						{% if reference_item.email %}
							Email: {{ reference_item.email }}.
						{% endif %}
					</p>
				{% endfor %}
			{% endif %}
			<form id = "id_references_form" method = "POST">
				<input id = "id_references_input_name" name = "references_input_name" placeholder = "Enter name of reference"/>
				<input id = "id_references_input_relevance" name = "references_input_relevance" placeholder = "Enter relation of reference to you"/>
				<input id = "id_references_input_phone" name = "references_input_phone" placeholder = "Enter reference's phone number"/>
				<input id = "id_references_input_email" name = "references_input_email" placeholder = "Enter reference's email address"/>
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
	</body>
</html>