<html>
	<head>
		<title>My CV</title>
	</head>
	<body>
		<h1>Thomas Beckett</h1>
		<h2>Profile</h2>
		<div id = "id_skills">
			<h2>Key Skills</h2>
			<ul>
				{% for skill in skills %}
					<li>{{ skill.text }}</li>
				{% endfor %}
			</ul>
			<form id = "id_skills_form" method = "POST">
				{{ skills_form }}
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<div id = "id_education">
			<h2>Education</h2>
			{% for education_item in education_items %}
				<div id = "id_education_{{ forloop.counter }}">
					<h3>
						{% if education_item.start_year == education_item.end_year %}{{ education_item.start_year }}{% else %}{{ education_item.start_year }}-{{ education_item.end_year }}{% endif %}: {{ education_item.institution }}{% if education_item.course_title %}, {{ education_item.course_title }}{% endif %}
					</h3>
					<p>{{ education_item.text }}</p>
				</div>
			{% endfor %}
			<form id = "id_education_form" method = "POST">
				<input id = "id_education_input_start_year" name = "education_input_start_year" placeholder = "Enter course start year"/>
				<input id = "id_education_input_end_year" name = "education_input_end_year" placeholder = "Enter course end year"/>
				<input id = "id_education_input_institution" name = "education_input_institution" placeholder = "Enter name of institution"/>
				<input id = "id_education_input_course_title" name = "education_input_course_title" placeholder = "Enter course title"/>
				<input id = "id_education_input_text" name = "education_input_text" placeholder = "Enter further details about the course"/>
				<button>Save</button>
				{% csrf_token %}
			</form>
		</div>
		<h2>Work Experience</h2>
		<form id = "id_experience_form">
			<input id = "id_experience_input_start_year" placeholder = "Enter employment start year"/>
			<input id = "id_experience_input_end_year" placeholder = "Enter employment end year"/>
			<input id = "id_experience_input_company" placeholder = "Enter name of employer"/>
			<input id = "id_experience_input_role" placeholder = "Enter job title"/>
			<input id = "id_experience_input_text" placeholder = "Enter further detials about the job"/>
			<button>Save</button>
		</form>
		<h2>Voluntary Experience</h2>
		<form id = "id_volunteering_form">
			<input id = "id_volunteering_input_start_year" placeholder = "Enter placemenet start year"/>
			<input id = "id_volunteering_input_end_year" placeholder = "Enter placement end year"/>
			<input id = "id_volunteering_input_company" placeholder = "Enter name of company/organisation"/>
			<input id = "id_volunteering_input_role" placeholder = "Enter name of role"/>
			<input id = "id_volunteering_input_text" placeholder = "Enter further details about the placement"/>
			<button>Save</button>
		</form>
		<h2>Additional Projects and Achievements</h2>
		<form id = "id_projects_form">
			<input id = "id_projects_input_text" placeholder = "Enter details of a new project or achievement"/>
			<button>Save</button>
		</form>
		<h2>Additional Activities, Skills and Hobbies</h2>
		<form id = "id_hobbies_form">
			<input id = "id_hobbies_input_text" placeholder = "Enter a new activity, skill or hobby"/>
			<button>Save</button>
		</form>
		<div id = "id_references">
			<h2>References</h2>
			<p>References available on request.</p>
			<form id = "id_references_form">
				<input id = "id_references_input_name" placeholder = "Enter name of reference"/>
				<input id = "id_references_input_relevance" placeholder = "Enter relation of reference to you"/>
				<input id = "id_references_input_phone" placeholder = "Enter reference's phone number"/>
				<input id = "id_references_input_email" placeholder = "Enter reference's email address"/>
				<button>Save</button>
			</form>
		</div>
	</body>
</html>